body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}   


/*the Main Holder is a div that is holding the entire main hero screen*/
.MainHolder{
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(23, 81, 21, 0.85)), url('images/bamboo forest.jpg');    border-image: fill;
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: green;
    overflow-x: hidden;
    scroll-behavior: inherit;
}

/*this is the nav bar at the top of the page in the main hero section*/

nav {
    position: fixed;
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-top: 20px;
    scroll-behavior: auto;
}


.NavBarElement {
    padding-right: 50px;
    color: azure;
    font-weight: 900;
    text-decoration: none;
    transition: ease-in-out 0.3s ;
    text-shadow: 5px 5px 10px rgba(7, 82, 0, 0.5);
}

.NavBarElement:hover {
    color: green;
}

.LogoImage {
    max-height: 100px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

/*this is the main hero title in the main hero section */

.HeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 900;
    align-self: center;
}

.UnderHero {
    text-align: center;
    color: white;
    font-weight: 500;
    margin-top: 10px;
}


/*this is a basic content page for the website that has button to go to the About Us page*/

.ContentSection {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-top: 80px;
}

.TextBox {
    padding-right: 20px;
    width: 50%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
}

.PandaImage {
    height: 300px;
    width: 300px;

}
