body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(23, 81, 21, 0.85)), url('images/bamboo forest.jpg');    border-image: fill;
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: green;
    
}   

nav {
    background-color: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-top: 20px;

}


.NavBarElement {
    padding-right: 50px;
    color: azure;
    font-weight: 900;
    font-family: sans-serif;
    text-decoration: none;
}

.LogoImage {
    max-height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}



h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 900;
    align-self: center;
}

.UnderHero {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 10px;
}


.HeroSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color:transparent;
    margin-bottom: 250px;
}
